{{ form_start(form) }}

    <div class="field">
        <label class="label {{ form.name.vars.required ? 'required' }}">{{ form_label(form.name) }}</label>
        <div class="control">
            {{ form_widget(form.name, {'attr': {'class': 'input'}}) }}
        </div>
    </div>

    <div class="field">
        <label class="label">{{ form_label(form.description) }}</label>
        <div class="control">
            {{ form_widget(form.description, {'attr': {'class': 'textarea'}}) }}
        </div>
    </div>

    <div class="field">
        <label class="label">{{ form_label(form.semestre) }}</label>
        <div class="control">
            <div class="select">
                {{ form_widget(form.semestre) }}
            </div>
        </div>
    </div>

{{ form_rest(form) }}

    <div class="field">
        <div class="control">
            <button class="button is-link">{{ button_label|default('Sauvegarder') }}</button>
        </div>
    </div>

{{ form_end(form) }}