{% extends 'base.html.twig' %}

{% block title %}Details sur le cours {{ cours.id }}{% endblock %}

{% block body %}

    <h1 class="title is-2">{{ cours.name }}</h1>

    {% if cours.semestre == null %}

        <h2 class="subtitle"> Aucun semestre </h2>

    {% else %}

        <h2 class="subtitle"> {{ cours.semestre.name }}</h2>

    {% endif %}

    <p>{{ cours.description }}</p>

    <a href="{{ app.request.headers.get('referer') }}">Retour !</a>

{% endblock %}
